<br>
<button type="button" class="btn btn-primary" ng-click="reload()">
        <span class="fa fa-refresh"></span>&nbsp;&nbsp;Reload
</button>
<br>
<br>
<leaflet lf-center="center" markers="markers" height="460px" width="100%"></leaflet>
<br>
<div class="table-responsive">
    <table st-table="displayedMarkers" st-safe-src="markers" class="table table-striped ev-vcenter">
        <thead>
            <tr>
                <th st-sort="id" st-sort-default="true">DB-ID</th>
                <th st-sort="title">DB-Name</th>
		<th st-sort="rating">DB-Rating</th>
                <th>KML-Description</th>
                <th>KML-Latitude</th>
                <th>KML-Longitude</th>
		<th>S3-Org</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="marker in displayedMarkers">
                <td>{{marker.id}}</td>

                <td>{{marker.title }}</td>

		<td>{{marker.rating }}</td>

                <td>{{marker.message }}</td>

                <td>{{marker.lat }}</td>

                <td>{{marker.lng }}</td>

		<td>{{marker.org }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination="" st-items-by-page="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
